.venv
.idea
.DS_Store
.ipynb_checkpoints
**/.ipynb_checkpoints
***/.ipynb_checkpoints
**/additional/
**/sandbox
**/.env
**/.pytest_cache
__pycache__
math_dir/
lectures_python/
.env
__pycache__
cat_136
*.mp4
*.mov
